// --- Couleurs ---
$primary: #FF6060;
$secondary: #F6F6F6;

$black: #000000;
$white: #FFFFFF;
$grey: #C4C4C4;

// --- Fonts ---
$font-family: 'Montserrat', sans-serif;
$font-size: 16px;

// --- Border ---
$border-radius: 10px;

// --- Responsive Design ---
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 768px;