// src/pages/Error404/Error404.scss
@import '../../styles/variables';

.error404-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary;
  padding: 89px 20px;

  // --- Titre "404" ---
  &__title {
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 139px;
    line-height: 0.8;
  }

  // --- Message d'erreur ---
  &__message {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 120px;
  }

  // --- Lien retour page d'Accueil ---
  &__link {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
  }
}

// Media Query Mobile
@media (max-width: $breakpoint-mobile) {
  .error404-page {
    padding: 86px 20px;

    &__title {
      font-size: 96px;
      margin-bottom: 113px;
    }

    &__message {
      font-size: 18px;
      margin-bottom: 100px;
    }

    &__link {
      font-size: 14px;
    }
  }
}