@import '../../styles/variables';

// --- Bannière --- 
.banner {
  height: 223px;
  background-size: cover;
  border-radius: 25px;
  margin-bottom: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  // --- Overlay de la bannière ---
  &__overlay {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  // --- Titre de la bannière ---
  &__title {
    color: $white;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    z-index: 2;
  }
}

// Media Query Mobile
@media (max-width: $breakpoint-mobile) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: flex-start;
    padding-left: 16px;

    &__overlay {
      border-radius: 10px;
    }

     &__title {
        font-size: 24px;
        max-width: 235px;
     }
  }
}